<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Prog05</name>
    <description>
        This is prog05 for my CIS355 course at SVSU
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
<config-file platform="android" parent="/manifest/application" mode="merge">
    <plugin name="cordova-plugin-whitelist" source="npm"/>
    <!-- Don't block any requests -->
    <access origin="*" />
    <!-- A wildcard can be used to whitelist the entire network,
     over HTTP and HTTPS.
     *NOT RECOMMENDED* -->
    <allow-navigation href="*" />
</config-file>
